.manga-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.manga-card__cover {
  position: relative;
}

.manga-card__image-container {
  position: relative;
  height: 450px;
  object-fit: "contain";
}

.manga-card__cover-image {
  object-fit: cover;
}

.manga-card__latest-chapter-container {
  position: absolute;
  bottom: 15px;
  left: 0;
}

.manga-card__latest-chapter-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.manga-card__latest-chapter {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  padding: 5px 15px 5px 30px;
  opacity: 0.8;
}

.manga-card__info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.manga-card__title-author-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 60%;
}

.manga-card__title {
  font-size: 20px;
  font-weight: var(--font-weight-semi-bold);
}

.manga-card__author {
  font-size: 16px;
  font-weight: var(--font-weight-medium);
  opacity: 0.5;
}

.manga-card__view-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.manga-card__view-count {
  font-size: 14px;
  font-weight: var(--font-weight-semi-bold);
  opacity: 0.4;
}

.manga-card__rating {
  font-size: 14px;
  font-weight: var(--font-weight-semi-bold);
  opacity: 0.4;
}
