.continuous-reading {
  display: flex;
  flex-direction: column;
  gap: 150px;
  width: 100%;
}

.continuous-reading__chapter {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.continuous-reading__page {
  display: flex;
  justify-content: center;
}
