@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
}

/* Scrollbar Hidden */
html[scrollbar="hidden"],
html[scrollbar="hidden"] body {
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
html[scrollbar="hidden"] body::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Custom */
html[scrollbar="custom"] body {
  overflow: auto;
}

/* Customize scrollbar for WebKit browsers */
html[scrollbar="custom"] body::-webkit-scrollbar {
  width: 36px;
}

html[scrollbar="custom"] body::-webkit-scrollbar-track {
  background: var(--color-background);
  margin: 25px 0;
}

html[scrollbar="custom"] body::-webkit-scrollbar-thumb {
  background-color: var(--color-text);
  border-right: 22px solid var(--color-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
