.chapter-view {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
}

.chapter-view__pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
}
